#siteLogo{
	height: 100%;
	width: 45%;
	display: inline-block;
	background-image: url('logo.png');
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#sideBar{
    display: none;
}
#navBar{
    height: 65px;
    width: 100%;
    border-bottom: 1px solid #D4D4D4;
    top: 0;
}
#navBar h4{
    color: black;
    display: -webkit-inline-box;
}
#navBtns{
    width: 55%;
    float: right;
    height: 100%;
    color: white;
    display: inline-table;
    font-size: 16px;
}
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    height: 100%;
    width: 33%;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #626262;
    /*min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    top: 64.4px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 13px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #585858;
    color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
#options{
    height: 100%;
    width: 100%;
    background-color: #626262;
    border: 0;
    float:left;
    font-size: 16px;
}
#options:hover{
    background-color: #585858;
}
#logout{
    height: 100%;
    width: 34%;
    float: right;
    background-color: #128C8C;
    border: 0;
}
#wrapper{
    width: 100%;
    height: 100vh;
}
body {
    font: 13px Helvetica, Arial;
}
#signUpForm{
    padding: 0 5%;
}
form button{
    width: 25%;
}
#chatSendForm {
    width: 100%; 
    height: 70px;
    border-top: 1px solid #D4D4D4;
    float: right;
    position: absolute; 
    bottom: 0;
}
#chatBox{
    height: 100%;
}
#m { 
    width: 75%;
    height: 100%;
    border: 0;
    float: left;
    font-size: 18px;
    padding-left: 2%;
    overflow:hidden;
}
#langChoice{
    width: 15%;
    height: 100%;
    float: left;
}
#langChoice select{
    height: 100%;
    width: 100%;
}
#inputLang{
    height: 100%;
    width: 100%;
    font-size: 13px !important;
}
[name="language"]{
    font-size: 13px !important;
    font-weight: bold;
}
#messageBtn {
    width: 10%;
    height: 100%;
    background-color: #ECECEC;
    background-image: url('if_send-01_186386.png');
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: 12px center;
    border: 1px solid #D4D4D4;
    padding: 0;
    float: right;
}
#messages { 
    list-style-type: none;
    width: 100%;
    height: 94.5%;
    float: left;
    position: relative;
    font-size: 16px;
}
#messages li {
    padding: 5px 10px !important;	
    color: black !important;
    word-wrap: break-word;
}
#messages li:nth-child(odd) { 
    background: #D0D5DA;
}
#rooms{
    height: 50%;
    width: 100%;
    background-color: #F3F3F3;
}
#sharedFiles{
    height: 50%;
    width: 100%;
    border-top: 1px solid #D4D4D4;
}
#filesHeader{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #D4D4D4;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}
#roomBtn{
    background-color: white;
    border: none;
    border-bottom: 1px solid #D4D4D4;
    width: 100%;
    height: 15%;
    list-style-type:none;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}
#roomBtn:hover{
    background-color: #F3F3F3;
}
#roomBtn:active{
    background-color:#E8E8E8;
}
#roomsBtns{
    height: 85%;
}
#crtroomBtn{
    background-color: white;
    border: none;
    border-bottom: 1px solid #D4D4D4;
    width: 100%;
    height: 15%;
    list-style-type:none;
}
#crtroomBtn:hover{
    background-color: #F3F3F3;
}
#crtroomBtn:active{
    background-color:#E8E8E8;
}
#myModal{
    padding: 2% 6% !important;
    font-size: 16px;
}
#myModal input{
    align-content: center;
    height: 40px;
    width: 70%;
    font-size: 16px;
}
#modalSUP h4{
    text-align: center;
}
#modalSUP{
    font-size: 16px;
}
#signUpForm input{
    align-content: center;
    height: 40px;
    width: 70%;
    font-size: 16px;
}
#signUpForm #conpwd{
    width: 70%;
}
#modalBtns{
    text-align: center;
}
#modalBtns button{
    width: fit-content;
}
#errorMsg1{
    color: #cc0000;
}
[name=rooms]{
    list-style-type: none;
    width: 100%;
    height: 92.9%;
    position: relative;
    display:none;
}
.dialogModal{
    display: none;
}
.dialogModal p{
    text-align: center;
}
[name="rooms"] li{
    height: fit-content;
}
[name="smlRoomBtn"]{
    display: inline-block;
}

/* Modal Styling */

.ui-widget.ui-widget-content {
    border: 1px solid #585858 !important;
}
.ui-widget-header {
    border: unset !important;
    border-bottom: 1px solid #aaaaaa !important;
    background: unset !important;
    background-color: #128C8C !important;
    text-align: center;
    color: white !important;
    font-weight: unset !important;
}
.ui-corner-all{
    border-radius: unset !important;
}
.ui-dialog{
    padding: 0px !important;
}
.ui-dialog .ui-dialog-content{
    padding: 2% 2% !important;
}

#addRoom{
    padding: 2% 8% !important;
    font-size: 16px;
}
#addRoom input{
    align-content: center;
    height: 40px;
    width: 61.5%;
    font-size: 16px;
}
#numOfChars{
    display: block;
    margin : 0 auto;
}
#createChar{
    padding: 6% 2% !important;   
    font-size: 16px;
}
#createChar h5{
    font-size: 24px;
    color: crimson;
}
#createChar input{
    align-content: center;
    height: 40px;
    width: 70%;
    font-size: 16px;
}
.modalBtns{
    text-align: center;
}
#numChars{
    padding: 6% 2% !important;
    font-size: 16px;
}
#numChars input{
    align-content: center;
    height: 40px;
    width: 70%;
    font-size: 16px;
}
#deleteCharModal h4{
    text-align: center;
    font-size: 24px;
    color: crimson;
}
#deleteCharModal{
    padding: 6% 2% !important;   
    font-size: 16px;
}
#deleteCharModal input{
    align-content: center;
    height: 40px;
    width: 70%;
    font-size: 16px;
}
.ui-dialog .ui-dialog-title{
    font-size: 16px;
}